Add a New Book
<h1>Add a book</h1>

<%= form_for @book, :url => books_path, :html => {:method => :post} do |f|  %>
  <%= f.label :title  %><br />
  <%= f.text_field :title %><br />

  <%= f.label :author %><br />
  <%= f.text_field :author %><br />

  <!-- after get working, allow 3 category options with dynamic/dropdown. -->
  <%= f.fields_for :categories, @book.categories.build do |category_fields| %>
    <%= category_fields.label :category %><br />
    <%= category_fields.text_field :name %>
  <% end %><br />

  

  <%= f.label :read, "Check if read" %>
  <%= f.check_box :read, include_hidden: false %><br />

  <%= f.submit%>
<% end %>


book {
  title => title,
  author => author,
  book_category => {
    rating => rating,
    comments => comments
  },
  category=>{
    category =>category
  }
  read => 1/0
}

"book"=>{
  "title"=>"Story of the World",
  "author"=>"Susan Bauer",
  "book_category"=>{
    "rating"=>"5",
    "comments"=>"great history book"
  },
  "category"=>{
    "category"=>"History"
  }
},
