<h1><%= @book.title %> by <%= @book.author %></h1>

    <%= link_to "Edit Record", edit_book_path(@book),  class:"link-left"%>

    <%= link_to "Delete Record", book_path(@book), method: :delete, class:"link-right" %>


  <%= button_to "Add Book", new_book_path, method: :get, class:"btn btn-primary center" %>
