<h1><%= @book.title %> by <%= @book.author %></h1>

<!-- find a way to sort the records by date -->
<div class="center">
  <% @book.records.each do |record| %>
    <p> <%= "#{record.date} - #{record.comments}" if !record.comments.empty? %> </p>
  <% end %>

</div>


<%= link_to "Edit Book", edit_user_book_path(current_user.id, @book),  class:"link-left"%><br />
<%= link_to "Add comment to this book", new_book_record_path(:book_id => @book.id) %><br />

<%= link_to "Delete Record", user_book_path(current_user.id, @book),  method: :delete, data: { confirm: 'Are you sure?' } %>



<%= button_to "Add Book", new_user_book_path, method: :get, class:"btn btn-primary center" %>
