<h1><%= @book.title %> by <%= @book.author %></h1>

  <% @book.comments.each do |comment| %>
    <p> <%= comment if !comment.empty? %> </p>
  <% end %>


    <%= link_to "Edit Record", edit_book_path(@book),  class:"link-left"%><br />
    <%= link_to "Add comment to this book", new_book_record_path(:book_id => @book.id) %><br />

    <%= link_to "Delete Record", book_path(@book), method: :delete, class:"link-right" %>


  <%= button_to "Add Book", new_book_path, method: :get, class:"btn btn-primary center" %>
